#content {
    font-size: 90%;
    text-align: justify;
}
#header, #main_menu, .sphinxsidebar {display: none;}

#wrap, .document, #container, #content, .bodywrapper {width: 100%; margin: 0 0px; float: none;}
