h3 { 
   -moz-border-radius-topleft:4px;
   -moz-border-radius-topright:4px;
   background:none repeat scroll 0 0 #DAD7D3;
   margin:0;
   padding:8px 1px 8px 8px;
   color: #333;
   font-size: 24px;
   font-weight: normal !important;
   line-height: 20px;
   margin: 0 0 8px;
}
img {
    border: 0;
    padding: 0 10px  
}
#preview{
	position: absolute;
	border: 1px solid #ccc;
	background: #f4821f ;
	padding: 10px;
	display: none;
	color: #fff;
	}

